@import "global/variables.css";
@import "global/global.css";
@import "icons/icons.css";
@import "tabbar/tabbar.css";
@import "navbar/navbar.css";
@import "personalbar/personalbar.css";
@import "popup/popup.css";
@import "urlbar/urlbar.css";
@import "findbar/findbar.css";

/*
 * Moz-Mac Firefox Theme
 * by Thomas McMahon / @twistermc / twistermc.com
 * v 1.0.2
 */


 .tab-background,
 .tabbrowser-tab,
 #nav-bar,
 #navigator-toolbox,
 #PersonalToolbar,
 #urlbar,
 #urlbar .urlbar-input-box,
 .tabbrowser-tab,
 #tabbrowser-tabs,
 #TabsToolbar,
 tab,
 .tabbrowser-tab::after,
 .tabbrowser-tab::before,
 .tabbrowser-tab[first-tab],
 #toolbar-menubar,
 findbar,
 .titlebar-spacer {
   border: none !important;
 }
 
 #main-window:not([lwthemetextcolor="bright"]):not([lwthemetextcolor="dark"]) .tab-content {
     color: #ccc !important;
 }
 
 #main-window:not([lwthemetextcolor="bright"]):not([lwthemetextcolor="dark"]) .tab-content[selected] {
     color: #fff !important;
 }
 
 #main-window:not([lwthemetextcolor="bright"]):not([lwthemetextcolor="dark"]) #TabsToolbar {
     -moz-appearance: -moz-mac-vibrancy-dark !important;
 }
 
 #TabsToolbar,
 .tab-background-inner,
 #nav-bar,
 .theme-dark,
 .theme-light,
 slider,
 .CodeMirror,
 .devtools-toolbar,
 .message,
 .theme-body,
 .table-widget-empty-text,
 findbar,
 #PersonalToolbar {
    -moz-appearance: -moz-mac-vibrancy-light !important;
 }
 
 #main-window[lwthemetextcolor="bright"] #TabsToolbar,
 #main-window[lwthemetextcolor="bright"] .tab-background-inner,
 #main-window[lwthemetextcolor="bright"] #nav-bar,
 #main-window[lwthemetextcolor="bright"] .theme-dark,
 #main-window[lwthemetextcolor="bright"] .theme-light,
 #main-window[lwthemetextcolor="bright"] slider,
 #main-window[lwthemetextcolor="bright"] .CodeMirror,
 #main-window[lwthemetextcolor="bright"] .devtools-toolbar,
 #main-window[lwthemetextcolor="bright"] .message,
 #main-window[lwthemetextcolor="bright"] .theme-body,
 #main-window[lwthemetextcolor="bright"] .table-widget-empty-text,
 #main-window[lwthemetextcolor="bright"] findbar,
 #main-window[lwthemetextcolor="bright"] #PersonalToolbar {
     -moz-appearance: -moz-mac-vibrancy-dark !important;
 }
 
 #main-window[lwthemetextcolor="bright"][lwt-popup-darktext="true"] #nav-bar {
      -moz-appearance: -moz-mac-vibrancy-light !important;
      color: #000 !important;
 }
 
 .theme-body {
    background: transparent !important;
 }
 
 #main-window{ background-color: transparent !important }
 
